In [25]:
list_obj = [0, 1, "Two", {"Three":3}, "Four", None]
new_number = 5
new_obj = {'Six':6}
list_obj.append(new_number)
list_obj.append(new_obj)

In [26]:
print(list_obj)

[0, 1, 'Two', {'Three': 3}, 'Four', None, 5, {'Six': 6}]

In [27]:
print(list_obj[2])
print(list_obj[6])

Two
5

In [28]:
print("Индексът на първата не-нулева стойност е: ", list_obj.index(True))

Индексът на първата не-нулева стойност е:  1

In [29]:
list_obj.insert(-1, "num")

In [30]:
print(list_obj)

[0, 1, 'Two', {'Three': 3}, 'Four', None, 5, 'num', {'Six': 6}]

In [31]:
list_obj.remove("num")
list_obj.remove(None)

In [32]:
print(list_obj)

[0, 1, 'Two', {'Three': 3}, 'Four', 5, {'Six': 6}]

In [33]:
print(list_obj[-1:-4:-1])

[{'Six': 6}, 5, 'Four']

In [34]:
a = 1
b = 2
my_tup = (a, b)
print(my_tup)

(1, 2)

In [35]:
a = 3
print(my_tup)

(1, 2)