In [63]:
x = [1, -2, 3, 0, -4, 5, -6]
for i, n in enumerate(x):
    if n > 0:
        print("found a positive at", i)
    elif n == 0:
        print("found a zero at", i)
    else:
        print("found a negative at", i)

found a positive at 0
found a negative at 1
found a positive at 2
found a zero at 3
found a negative at 4
found a positive at 5
found a negative at 6

In [64]:
'==========================================================='

'==========================================================='

In [65]:
x_sq = []
for n in x:
    x_sq.append(n**2)
print(x_sq)

[1, 4, 9, 0, 16, 25, 36]

In [66]:
x_cb = [n**3 for n in x]
print(x_cb)
x_pos_cb = [n**3 for n in x if n > 0]
x_neg_cb = [n**3 for n in x if n < 0]
print(x_pos_cb)
print(x_neg_cb)

[1, -8, 27, 0, -64, 125, -216]
[1, 27, 125]
[-8, -64, -216]

In [67]:
word = "hello"
for spelling in [letter + '!' for letter in word]:
    print(spelling, end=" ")

h! e! l! l! o!

In [68]:
list1 = [1, 2, 3, 4, 5, 6, 7]
result = []
for i in list1:
    result.append(i*i)
print(result)

[1, 4, 9, 16, 25, 36, 49]

In [69]:
result = [i*i for i in [1,2,3,4,5,6,7]]
print(result)

[1, 4, 9, 16, 25, 36, 49]

In [70]:
list1 = [1, 2, 3, 4, 5, 6, 7]
result = []
for i in list1:
    if i%2 == 0:
        result.append(i*i)
print(result)

[4, 16, 36]

In [71]:
result = [i*i for i in [1,2,3,4,5,6,7] if i%2 == 0]
print(result)

[4, 16, 36]

In [72]:
list1 = [1, 2, 3, 4, 5, 6, 7]
result = []
for i in list1:
    if i%2 == 0:
        result.append(i**2)
    else:
        result.append(i**3)
print(result)

[1, 4, 27, 16, 125, 36, 343]

In [73]:
result = [i**2 if not i%2 else i**3 for i in [1,2,3,4,5,6,7]]
print(result)

[1, 4, 27, 16, 125, 36, 343]

In [74]:
list1 = [ [1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,15,16] ]
result = []
for row in list1:
    for i in row: 
        if i%2 == 0:
            result.append(i)
print(result)

[2, 4, 6, 8, 10, 12, 14, 16]

In [75]:
result = [i for row in list1 for i in row if not i%2]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16]

In [76]:
list1 = [9, 3, 6, 1, 5, 0, 8, 2, 4, 7]
list2 = [6, 4, 6, 1, 2, 2]
result = []
for i in list2:
    result.append( (i, list1.index(i)) )
print(result)

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

In [77]:
result = [(i, list1.index(i)) for i in list2]
print(result)

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

In [78]:
'==========================================================='

'==========================================================='

In [79]:
input_list = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]
output_set = {n for n in input_list}
print(output_set)

{1, 2, 3, 4, 5, 6, 7}

In [80]:
output_set = {n*n for n in input_list}
print(output_set)

{1, 4, 36, 9, 16, 49, 25}

In [81]:
my_dict = { 0: 1, 1: 2, 2: 3, 3: 4 }
sq_dict = { i:j**2 for (i,j) in my_dict.items() }
print(my_dict)
print(sq_dict)

{0: 1, 1: 2, 2: 3, 3: 4}
{0: 1, 1: 4, 2: 9, 3: 16}

In [82]:
'==========================================================='

'==========================================================='

In [83]:
# TASK 1
list_1 = [17, 3, 5, 45, 97, 32, 22, 10, 19, 39, 43, 121, 23, 66]
for n in list_1:
    if n % 2:
        print(n, end="\t")

17	3	5	45	97	19	39	43	121	23

In [99]:
# TASK 2
list2 = [n for n in range(5000, 7000) if n % 11 == 0]
print(list2)

[5005, 5016, 5027, 5038, 5049, 5060, 5071, 5082, 5093, 5104, 5115, 5126, 5137, 5148, 5159, 5170, 5181, 5192, 5203, 5214, 5225, 5236, 5247, 5258, 5269, 5280, 5291, 5302, 5313, 5324, 5335, 5346, 5357, 5368, 5379, 5390, 5401, 5412, 5423, 5434, 5445, 5456, 5467, 5478, 5489, 5500, 5511, 5522, 5533, 5544, 5555, 5566, 5577, 5588, 5599, 5610, 5621, 5632, 5643, 5654, 5665, 5676, 5687, 5698, 5709, 5720, 5731, 5742, 5753, 5764, 5775, 5786, 5797, 5808, 5819, 5830, 5841, 5852, 5863, 5874, 5885, 5896, 5907, 5918, 5929, 5940, 5951, 5962, 5973, 5984, 5995, 6006, 6017, 6028, 6039, 6050, 6061, 6072, 6083, 6094, 6105, 6116, 6127, 6138, 6149, 6160, 6171, 6182, 6193, 6204, 6215, 6226, 6237, 6248, 6259, 6270, 6281, 6292, 6303, 6314, 6325, 6336, 6347, 6358, 6369, 6380, 6391, 6402, 6413, 6424, 6435, 6446, 6457, 6468, 6479, 6490, 6501, 6512, 6523, 6534, 6545, 6556, 6567, 6578, 6589, 6600, 6611, 6622, 6633, 6644, 6655, 6666, 6677, 6688, 6699, 6710, 6721, 6732, 6743, 6754, 6765, 6776, 6787, 6798, 6809, 6820, 6831, 6842, 6853, 6864, 6875, 6886, 6897, 6908, 6919, 6930, 6941, 6952, 6963, 6974, 6985, 6996]

In [85]:
# TASK 3
for n in range(500, 999):
    if str(n)[1:] == "11":
        print(n)

511
611
711
811
911

In [97]:
# TASK 3.1
section_check = '11'
check_len = len(section_check)
for n in range(500, 999):
    n = str(n)
    for section_start in range(0, (len(n) - check_len) + 1):
        if n[section_start : section_start + check_len] == section_check:
            print(n)
            break # only print each match once

511
611
711
811
911

In [87]:
# TASK 3.2
result = [n for n in range(500, 999) if '11' in str(n)]
print(result)

[511, 611, 711, 811, 911]

In [88]:
# TASK 4
list_4 = [i for i in range(199, 209)]
oddness_list = ['odd' if i % 2 else 'even' for i in list_4]
print(oddness_list)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [89]:
# TASK 5
neg_start = 3 # lowest number to negate
neg_end = 8 #highest number to negate (inclusive)
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list1 = [-i if i in range(neg_start, neg_end + 1) else i for i in list1]
print(list1)

[1, 2, -3, -4, -5, -6, -7, -8, 9, 10]

In [90]:
# TASK 5.1
neg_start = 3 # lowest number to negate
neg_end = 8 #highest number to negate (inclusive)
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list1 = [-i if (i >= neg_start and i <= neg_end) else i for i in list1]
print(list1)

[1, 2, -3, -4, -5, -6, -7, -8, 9, 10]

In [91]:
# TASK 5.2
neg_start = 3 # lowest number to negate
neg_end = 8 #highest number to negate (inclusive)
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list1 = [-i if i >= neg_start else i for i in list1]
print(list1)
list1 = [-i if -i > neg_end else i for i in list1]
print(list1)

[1, 2, -3, -4, -5, -6, -7, -8, -9, -10]
[1, 2, -3, -4, -5, -6, -7, -8, 9, 10]

In [123]:
def greet(name):
    """Print a greeting by name"""
    print(f"Hello, {name}!")

greet("Miro")
# print(greet.__doc__)
# print(greet.__code__)
# help(greet)

Hello, Miro!